<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <div id="container">
      <div class="inner">
	
        <header>
	
	<p>
		<img src="logo.png" style="float:left" width="100" />
		<h1>Välkommen till eKlient!</h1>
    		<h2 style="text-align:center;">För mer information om eKlient se https://inera.se/eklient</h2>
	</p>
	<hr>
	<p style="vertical-align: middle;">	
	  <a href="index.html" class="button">Info</a>
	  <a href="dokument.html" class="button">Dokument</a>
	  <a href="ovrigt.html" class="button">Övrigt</a>
	</p>  
	<br><br><hr>
	      
        </header>

        <section id="main_content">
          {{ content }}
        </section>

        <footer>
	<p style="vertical-align: middle;">
		<img src="Inera.png" style="float:left; padding-right: 20px;" width="50" />
		eKlient är en av flera tjänster som tillhandahålls av Inera.<br>
		För mer information om Ineras tjänsteutbud se: <a href="https://inera.se">Inera.se</a>
	</p>
	</footer>

      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
